@import url(background.css);

.colors h1 {
  margin-top: 50px;
  margin-bottom: 3.5rem;
}

.colors  .btn {
  margin-bottom: 2rem;
}

#game div {
  border-radius: 16px;
  box-shadow: 6px 5px 5px rgba(0,0,0,.1);
  width: 15%;
  height: 200px;
  background-size: 200px;
  margin: 10px;
  display: inline-block;
}

#game {
  width: 90vw;
  justify-content: space-between;
  max-width: 1190px;
  margin: auto;
}

.cards {
justify-content: center;
object-fit: scale-down;
height: 100%;
position: relative;
}

.image {
  background-image: url(".././images/crazypercy.jpeg") !important;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

.gif {
  height: 100%;
  width: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.colors {
 justify-content: center;
 text-align: center;
}

.red {
  background-image: url("https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.blue {
  background-image: url("https://media.giphy.com/media/v6aOjy0Qo1fIA/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.green {
  background-image: url("https://media.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.orange {
  background-image: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.purple {
  background-image: url("https://media.giphy.com/media/yFQ0ywscgobJK/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}


.red {
  background-image: url("https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.blue {
  background-image: url("https://media.giphy.com/media/v6aOjy0Qo1fIA/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.green {
  background-image: url("https://media.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.orange {
  background-image: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.purple {
  background-image: url("https://media.giphy.com/media/yFQ0ywscgobJK/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  body {
    max-width: 600px;
    align-items: center;
  }

}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  body {
    width: 600px;
    align-items: center;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    width: 300px;
    align-items: center;
  }
}
