#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  justify-content: center;
}

body {
  background-color: ;
}

.cards {
justify-content: center;
object-fit: scale-down;
height: 100%;
}

.image {
  background-image: url("./images/crazypercy.jpeg") !important;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

.gif {
  height: 100%;
  width: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.colors {
 justify-content: center;
 text-align: center;
}

.red {
  background-image: url("https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.blue {
  background-image: url("https://media.giphy.com/media/v6aOjy0Qo1fIA/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.green {
  background-image: url("https://media.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.orange {
  background-image: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.purple {
  background-image: url("https://media.giphy.com/media/yFQ0ywscgobJK/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}


.red {
  background-image: url("https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.blue {
  background-image: url("https://media.giphy.com/media/v6aOjy0Qo1fIA/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.green {
  background-image: url("https://media.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.orange {
  background-image: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.purple {
  background-image: url("https://media.giphy.com/media/yFQ0ywscgobJK/giphy.gif");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

/* Gradient Background */

.gradient-bg {
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #FBB040, #23D5AB, #23A6D5);
background-size: 500% 500%;
-webkit-animation: Gradient 10s ease infinite;
-moz-animation: Gradient 10s ease infinite;
animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}
